{% extends 'base.html.twig' %}

{% block title %}
	Authentification
{% endblock %}

{% block body %}
<div class="content">
    <div class="container">
	<h1>Se connecter</h1>
	<form class="row g-3" method="post">
		<div class="col-md-6">
			<label for="email" class="form-label">E-mail</label>
			<input type="text" class="form-control" id="email" name="email">
		</div>
		<div class="col-md-6">
			<label for="password" class="form-label">Mot de passe</label>
			<input type="password" class="form-control" id="password" name="password"></input>
		</div>
		<div class="col-12">
            <a href="/register" class="btn btn-secondary">Pas encore inscrit ?</a>
			<button type="submit" class="btn btn-primary">M'identifier</button>
            
		</div>
        <div>
        </div>
	</form>
    </div>
</div>
{% endblock %}

{% block javascripts %}


{% endblock %}
