{% extends 'base.html.twig' %}

{% block title %}
	Articles
{% endblock %}

{% block body %}
	<h1>{{ article.title }}</h1>
	<p>{{ article.author }} / {{ article.published_at}}</p>
    <div class="container">
	<p>{{ article.content }}</p>
    </div>
{% endblock %}

{% block javascripts %}


{% endblock %}
