{% extends 'base.html.twig' %}

{% block title %}
ERROR 404 - NOT FOUND
{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>
    <p>Désolé, la page que vous cherchez n'a pas été trouvée.</p>
{% endblock %}

{% block javascripts %}

 
{% endblock %}
