{% extends 'base.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <h1>Profil</h1>
	<p>Vous êtes connecté en tant que {{ session.username }}</p>
	<a href="/logout">Déconnexion</a>
    {% for article in articles %}
        <div class="card">
            <div class="card-header">
				<h2>{{ article.title }}</h2>
				<p>Publié le {{ article.createdAt|date('d/m/Y') }}</p>

            </div>
            <div class="card-body">
                <p>{{ article.content }}</p>
            </div>
            <div class="card-footer">
             
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src='./Assets/js/main.js'></script>
{% endblock %}
