{% extends 'base.html.twig' %}

{% block title %}
MAIN
{% endblock %}

{% block body %}
    <h1>MAIN</h1>
{% endblock %}

{% block javascripts %}
    <script src='./Assets/js/main.js'></script>
 
{% endblock %}
