{% extends 'base.html.twig' %}

{% block title %}
MAIN
{% endblock %}

{% block body %}
    <h1>MAIN</h1>
{% endblock %}

{% block javascripts %}

{% if session.username %}
    {{ dump(session.username) }}
{% endif %}

    <script src='./Assets/js/main.js'></script>
 
{% endblock %}
