@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800&display=swap");
/* Media Queries */

/* Small screens (up to 576px) */
@media (max-width: 576px) {
  header {
    overflow: hidden;
    margin: 10px;
    padding: 0px 0px !important;
  }

  #text {
    font-size: 3rem !important;
  }

  header .logo {
    display: none;
  }

  .navigation a, header>a {
    display: block;
    margin-left: 15px;
    margin-right: 5px;
  }
  
  .content {
    position: relative;
    top: 100px;
    display: block;
    width: 100%;
    min-height: 100vh;
    border-radius: 10px;
    padding-top: 500px;
    transition: all 0.3s ease;
    padding-top: 10rem;
  }

  .parallax {
    height: 80vh;
  }

  #text {
    font-size: 3rem;
  }

  .sec h2 {
    font-size: 2rem;
  }

  .sec p {
    font-size: 1rem;
  }

  .cards {
    display: block !important;
  }

  .cards .card {
    width: 100%;
    display: block !important;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

  }

  .projets {
    display: block;
  }

  #contact {
    padding: 30px;
  }
}

/* Medium screens (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  header .logo {
    display: none;
  }

  .navigation a {
    margin-left: 30px;
    margin-right: 20px;
  }

  .parallax {
    height: 70vh;
  }

  #text {
    font-size: 4rem;
  }

  .sec h2 {
    font-size: 2.5rem;
  }

  .sec p {
    font-size: 1.1rem;
  }

  .cards .card {
    flex-basis: 45%;
  }
}

/* Large screens (769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  header {
    overflow: hidden;
    margin: 10px;
    padding: 0px 0px;
  }

  header .logo {
    margin-right: 200px;
    display: none;
  }

  .navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  .parallax {
    height: 60vh;
  }

  #text {
    font-size: 4.5rem;
  }

  .sec h2 {
    font-size: 3rem;
  }

  .sec p {
    font-size: 1.2rem;
  }

  .cards .card {
    flex-basis: 40%;
  }
}

/* Extra large screens (above 992px) */
@media (min-width: 993px) {
  header .logo {
    margin-right: 270px;
  }

  .navigation a {
    margin-left: 40px;
    margin-right: 10px;
  }

  .parallax {
    height: 100vh;
  }

  #text {
    font-size: 5rem;
  }

  .sec h2 {
    font-size: 3rem;
  }

  .sec p {
    font-size: 1.1rem;
  }

  .cards .card {
    flex-basis: 30%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #f9f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  flex-wrap: wrap;
}

header .logo {
  font-size: 2rem;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}

.navigation a {
  color: #359381;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 40px;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  text-align: center;
  position: absolute;
  font-size: 5rem;
  color: #fff;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100vh;
  object-fit: cover;
}

.sec {
  position: relative;
  background: #003329;
  top: 0;
  height: 50vh;
  flex-wrap: wrap;
}

.sec h2 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

#projets,
#download {
  background: #4faa9b;
  top: 0;
}

.btn-primary,
.btn,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-info {
  background: #359381;
  color: #fff;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
}

.btn-primary:hover,
.btn:hover {
  background: #fff;
  color: #359381;
}

.btn-secondary {
  background: #c49208;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  margin-top: 10px;
  background: #c49208;
  color: #fff;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

div svg {
  background-color: #4faa9b;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  fill: #fff;
  transition: all 0.3s ease;
}

.welcome h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #359381;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  margin-top: 10px;
  background: #c49208;
  color: #fff;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.form-label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #777;
}

.btn-outline-primary {
  background-color: #c49208;
}

.content {
  display: block;
  width: 100%;
  min-height: 100vh;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding-top: 6rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cards .card {
  flex-basis: 30%;
}

#contact {
  background-color: #003329;
  color: #fff;
  padding: 50px 100px;
}

#scroolToTop img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  color: #c49208;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 100;
}

#scroolToTop img:hover {
  background: #c49208;
  color: #fff;
  transition: background 0.3s ease;
}
.addCom {
  background-color: #003329;
  color: #fff;
  padding: 50px 100px;
}

.waveCom svg {
  background-color: #f9f9f9;
}
#footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  background-color: #003329;
  color: #fff;
  z-index: 5;
}
