<div id="footer">
    
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center fixed-bottom">
                <p>© 2023 <a href="https://www.gaetan-langlet.fr/" target="_blank">Gaëtan LANGLET</a> All Rights Reserved.</p>
            </div>
        </div>
 
</div>